.ink-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: padding height width background-color color opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border: none;
  background-color: transparent;
  color: sys-var(color, text, base);
  position: relative;
  box-sizing: border-box;

  // State styles
  &__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    opacity: sys-var(opacity, strong);
    @include apply-icon(lg);
  }

  &--loading {
    cursor: not-allowed;
  }

  &:disabled {
    cursor: not-allowed;
  }

  // Theme variants
  &--theme-subtle {
    border: 1px solid sys-var(color, border, base);
    background-color: sys-var(color, surface, subtle);
    color: sys-var(color, text, base);

    &:hover,
    &:active {
      background-color: sys-var(color, surface, subtle-hover);
    }
  }

  &--theme-primary {
    background-color: sys-var(color, surface, primary);
    color: sys-var(color, text, primary);

    &:hover,
    &:active {
      opacity: 0.9;
    }
  }

  &--theme-danger {
    background-color: sys-var(color, surface, danger);
    color: sys-var(color, text, danger-on);

    &:hover,
    &:active {
      opacity: 0.9;
    }
  }

  // Size variants
  &--size-md {
    @include apply-font(label-lg);

    .ink-button__icon {
      @include apply-icon(md);
    }
  }

  &--size-sm {
    @include apply-font(label-md);

    .ink-button__icon {
      @include apply-icon(sm);
    }
  }

  // Type variants
  &--type-default {
    &.ink-button--size-md {
      padding: sys-var(space, sm) sys-var(space, md);
    }

    &.ink-button--size-sm {
      padding: sys-var(space, xs) sys-var(space, md);
    }
  }

  &--type-square {
    padding: 0;

    &.ink-button--size-sm {
      height: sys-var(size, sm);
      width: sys-var(size, sm);
    }
    &.ink-button--size-md {
      height: sys-var(size, md);
      width: sys-var(size, md);
    }
  }
}
