.ink-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: sys-var(space, md) sys-var(space, lg);
  background-color: sys-var(color, surface, subtle);
  border-bottom: 1px solid sys-var(color, border, base);

  &__logo {
    display: flex;
    align-items: center;
    gap: sys-var(space, sm);
    cursor: pointer;
  }

  &__logo-icon {
    width: 32px;
    height: 32px;
  }

  &__logo-text {
    @include apply-font(title-sm, mono);
    color: sys-var(color, text, base);
    user-select: none;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: sys-var(space, md);
  }

  &__page-title {
    @include apply-font(title-sm);
    color: sys-var(color, text, base);
  }

  &__menu-icon {
    @include apply-icon(md);
    color: sys-var(color, text, base);
    cursor: pointer;
  }
}
