$palette: (
  "brand": (
    "0": #000000,
    "2": #070707,
    "10": #1b1b1b,
    "20": #303030,
    "30": #474747,
    "98": #fbfcff,
    "100": #ffffff
  ),
  "neutral": (
    "6": #111827,
    "98": #fbfcff
  )
);

$font: (
  "label": (
    "lg": (
      "fontSize": 14,
      "textDecoration": "none",
      "fontFamily": "Inter",
      "fontWeight": 400,
      "fontStyle": "normal",
      "fontStretch": "normal",
      "letterSpacing": 0,
      "lineHeight": 16.8,
      "paragraphIndent": 0,
      "paragraphSpacing": 0,
      "textCase": "none"
    )
  )
);

$space: (
  "sm": 8px,
  "md": 16px,
  "lg": 32px
);

$shape: (
  "radius": (
    "xs": 4px,
    "sm": 8px,
    "md": 16px,
    "lg": 32px,
    "none": 0px,
    "full": 999px
  )
);

$elevation: (
  "elevation": (
    "raised": (
      "low": (
        "shadowType": "dropShadow",
        "radius": 2,
        "color": #000000,
        "offsetX": 0,
        "offsetY": 1,
        "spread": 0
      )
    )
  )
);

$opacity: ();

$layout: ();

