$elevation: (
  "raised": (
    "low": (
      "shadow-type": "dropShadow",
      "radius": 2px,
      "color": #0c1530,
      "offset-x": 0px,
      "offset-y": 1px,
      "spread": 0px
    ),
    "md": (
      "shadow-type": "dropShadow",
      "radius": 20px,
      "color": #0c1530,
      "offset-x": 0px,
      "offset-y": 6px,
      "spread": 0px
    ),
    "high": (
      "shadow-type": "dropShadow",
      "radius": 32px,
      "color": #0c1554,
      "offset-x": 0px,
      "offset-y": 12px,
      "spread": 0px
    )
  )
);

$color: (
  "neutral": (
    "2": #070707,
    "6": #131313,
    "12": #1f1f1f,
    "20": #303030,
    "30": #474747,
    "40": #5e5e5e,
    "50": #777777,
    "60": #919191,
    "70": #ababab,
    "80": #c6c6c6,
    "90": #e2e2e2,
    "94": #eeeeee,
    "98": #f9f9f9,
    "100": #ffffff
  ),
  "tertiary": (
    "40": #1f9aa5,
    "90": #d0f4f4
  ),
  "danger": (
    "10": #410008,
    "30": #92001e,
    "35": #a80324,
    "40": #b9192f,
    "60": #ff525c,
    "65": #ff7073,
    "70": #ff8889,
    "80": #ffb3b1,
    "90": #ffdad8,
    "98": #fff8f7
  ),
  "brand": (
    "2": #0b1220,
    "6": #121928,
    "12": #1f2635,
    "20": #303747,
    "30": #474e5f,
    "40": #5f6677,
    "50": #787e91,
    "60": #9198ac,
    "70": #acb3c7,
    "80": #b2bccf,
    "90": #c8cee3,
    "94": #f7f7fb,
    "98": #fbfcff
  )
);

$radius: (
  "xs": 4px,
  "sm": 8px,
  "md": 16px,
  "lg": 32px,
  "none": 0px,
  "full": 999px
);

$space: (
  "sm": 8px,
  "md": 16px,
  "lg": 32px,
  "xs": 4px,
  "xl": 56px
);

$typo: (
  "family": (
    "sans": "system-ui, -apple-system, sans-serif",
    "mono": ""SF Mono", Monaco, "Roboto Mono", monospace"
  )
);

$breakpoint: (
  "mobile": 768px,
  "tablet": 1024px,
  "desktop": 1280px
);

$opacity: (
  "muted": 0.72px,
  "medium": 0.84px,
  "strong": 0.92px
);

$size: (
  "lg": 48px,
  "md": 36px,
  "sm": 24px,
  "icon": (
    "sm": 20px,
    "md": 24px
  ),
  "iconfont": (
    "sm": 8px,
    "md": 12px
  ),
  "xl": 58px,
  "xs": 18px
);

$layout: ();

$font: (
  "label": (
    "lg": (
      "font-size": 14px,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "md": (
      "font-size": 12px,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "sm": (
      "font-size": 10px,
      "text-decoration": "none",
      "font-family": "Roboto",
      "font-weight": 700,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0.7,
      "line-height": 14px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "lg-underlined": (
      "font-size": 14px,
      "text-decoration": "underline",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "lg-mono": (
      "font-size": 14px,
      "text-decoration": "none",
      "font-family": "JetBrains Mono",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "sm-mono": (
      "font-size": 10px,
      "text-decoration": "none",
      "font-family": "JetBrains Mono",
      "font-weight": 700,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0.4,
      "line-height": 14px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  ),
  "title": (
    "sm": (
      "font-size": 22px,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 28px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "sm-mono": (
      "font-size": 22px,
      "text-decoration": "none",
      "font-family": "IBM Plex Mono",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0.66,
      "line-height": 28px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  ),
  "body": (
    "lg": (
      "font-size": 18px,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 24px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "lg-mono": (
      "font-size": 18px,
      "text-decoration": "none",
      "font-family": "JetBrains Mono",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 24px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  ),
  "headline": (
    "lg": (
      "font-size": 36px,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 48px,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  )
);

$all: (
  "elevation": $elevation,
  "color": $color,
  "radius": $radius,
  "space": $space,
  "typo": $typo,
  "breakpoint": $breakpoint,
  "opacity": $opacity,
  "size": $size,
  "layout": $layout,
  "font": $font
);
