$elevation: (
  "raised": (
    "low": (
      "shadow-type": "dropShadow",
      "radius": 2,
      "color": #0c1530,
      "offset-x": 0,
      "offset-y": 1,
      "spread": 0
    ),
    "md": (
      "shadow-type": "dropShadow",
      "radius": 20,
      "color": #0c1530,
      "offset-x": 0,
      "offset-y": 6,
      "spread": 0
    ),
    "high": (
      "shadow-type": "dropShadow",
      "radius": 32,
      "color": #0c1554,
      "offset-x": 0,
      "offset-y": 12,
      "spread": 0
    )
  )
);

$color: (
  "brand": (
    "0": #000000,
    "10": #1b1b1b,
    "20": #303030,
    "30": #474747,
    "98": #fbfcff,
    "100": #ffffff
  ),
  "neutral": (
    "2": #0b1220,
    "6": #111827,
    "12": #1f2937,
    "20": #27303f,
    "40": #4b5565,
    "90": #f3f4f6,
    "94": #f7f7fb,
    "98": #fbfcff
  ),
  "tertiary": (
    "40": #1f9aa5,
    "90": #d0f4f4
  ),
  "danger": (
    "40": #d12d3d,
    "90": #ffe5e8,
    "98": #fff8f7
  )
);

$shape: (
  "radius": (
    "xs": 4px,
    "sm": 8px,
    "md": 16px,
    "lg": 32px,
    "none": 0px,
    "full": 999px
  )
);

$space: (
  "sm": 8px,
  "md": 16px,
  "lg": 32px
);

$typo: (
  "family": (
    "sans": "system-ui, -apple-system, sans-serif",
    "mono": ""SF Mono", Monaco, "Roboto Mono", monospace"
  )
);

$breakpoint: (
  "mobile": 768px,
  "tablet": 1024px,
  "desktop": 1280px
);

$opacity: ();

$layout: ();

$font: (
  "label": (
    "lg": (
      "font-size": 14,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    ),
    "md": (
      "font-size": 12,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  )
);

$all: (
  "elevation": $elevation,
  "color": $color,
  "shape": $shape,
  "space": $space,
  "typo": $typo,
  "breakpoint": $breakpoint,
  "opacity": $opacity,
  "layout": $layout,
  "font": $font
);
