$light: (
  "base": #fbfcff,
  "color": (
    "content": (
      "base": #0b1220
    ),
    "surface": (
      "base": #fbfcff
    )
  )
);

$dark: (
  "base": #111827,
  "color": (
    "content": (
      "base": #fbfcff
    ),
    "surface": (
      "base": #111827
    )
  )
);

$component-tokens: ();
