@use "../functions" as fn;
@use "./ref" as ref;

$color-light: (
  "base": fn.map-deep-get(ref.$color, "neutral", "98"),
  "color": (
    "content": (
      "base": fn.map-deep-get(ref.$color, "neutral", "2")
    ),
    "surface": (
      "base": fn.map-deep-get(ref.$color, "neutral", "98")
    )
  )
);

$color-dark: (
  "base": fn.map-deep-get(ref.$color, "neutral", "6"),
  "color": (
    "content": (
      "base": fn.map-deep-get(ref.$color, "neutral", "98")
    ),
    "surface": (
      "base": fn.map-deep-get(ref.$color, "neutral", "6")
    )
  )
);

$base: (
  "base": fn.map-deep-get(ref.$color, "neutral", "98")
);

