$light: (
  "base": #fbfcff,
  "color": (
    "content": (
      "base": #0b1220
    ),
    "surface": (
      "base": #fbfcff
    )
  )
);

$dark: (
  "base": #111827,
  "color": (
    "content": (
      "base": #fbfcff
    ),
    "surface": (
      "base": #111827
    )
  )
);

$font: (
  "label": (
    "lg": (
      "font-size": 14,
      "text-decoration": "none",
      "font-family": "Inter",
      "font-weight": 400,
      "font-style": "normal",
      "font-stretch": "normal",
      "letter-spacing": 0,
      "line-height": 16.8,
      "paragraph-indent": 0,
      "paragraph-spacing": 0,
      "text-case": "none"
    )
  )
);

