$light: (
  "color": (
    "surface": (
      "bg": (
        "base": #fbfcff
      )
    )
  )
);

$dark: (
  "color": (
    "surface": (
      "bg": (
        "base": #111827
      )
    )
  )
);

$component-tokens: ();
