# package files
dist/
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE files
.vscode/
!.vscode/settings.example.json
!.vsocde/launch.example.json

# temp files
tmp

# build files
*.tgz

# logs
debug.log

# test coverage
coverage/
.nyc_output/

# histoire
.histoire/