.ink-double-check {
  display: inline-block;

  &__trigger {
    display: inline-block;
    cursor: pointer;
  }

  &__popup {
    background: sys-var(color, surface, base);
    padding: sys-var(space, lg);
    min-width: 300px;
    max-width: 400px;
  }

  &__title {
    @include apply-font(body-lg);
    margin: 0 0 sys-var(space, md) 0;
    color: sys-var(color, text, primary);
  }

  &__message {
    @include apply-font(label-lg);
    margin: 0 0 sys-var(space-lg) 0;
    color: sys-var(color, text, secondary);
  }

  &__actions {
    display: flex;
    gap: sys-var(space, sm);
    justify-content: flex-end;
  }
}
