@use "./tokens/ref" as ref;
@use "./functions" as fn;

@mixin apply-typo($token) {
  font-family: fn.sys-var("type", $token, "family");
  font-size: fn.sys-var("type", $token, "size");
  font-weight: fn.sys-var("type", $token, "weight");
  line-height: fn.sys-var("type", $token, "line-height");
  letter-spacing: fn.sys-var("type", $token, "letter");
}


@mixin font-mono {
  font-family: fn.ref-var("font", "family", "mono");
}

@mixin font-system {
  font-family: fn.sys-var("type", "body-md", "family");
}