@use "./tokens/ref" as ref;
@use "./tokens/sys" as sys;
@use "./tokens/comp" as comp;
@use "./functions" as fn;
@forward "./mixins";

// Emit tokens as CSS variables for cross-layer consumption

:root {
  @include fn.emit-css-variables(ref.$all, "ref");
  @include fn.emit-css-variables(sys.$base, "sys");
  @include fn.emit-css-variables(comp.$all, "comp");
}

:root,
html[data-theme="light"] {
  color-scheme: light;
  @include fn.emit-css-variables(sys.$color-light);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  html[data-theme="dark"] {
    color-scheme: dark;
    @include fn.emit-css-variables(sys.$color-dark);
  }
}


