@use "./tokens/ref" as ref;
@use "./tokens/sys" as sys;
@use "./tokens/comp" as comp;
@use "./functions" as fn;
@forward "./mixins";

// Consolidate reference primitives for CSS variable emission
$ref-registry: (
  palette: ref.$palette,
  typo: ref.$typo,
  space: ref.$space,
  radius: ref.$radius,
  elevation: ref.$elevation,
  breakpoint: ref.$breakpoint
);

// Emit reference tokens as CSS variables for cross-layer consumption
:root,
html[data-theme="light"] {
  color-scheme: light;
  @include fn.emit-css-variables($ref-registry, "ref");
  @include fn.emit-css-variables(sys.$light);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  html[data-theme="dark"] {
    color-scheme: dark;
    @include fn.emit-css-variables(sys.$dark);
  }
}

// Component token registration for future component-scoped overrides
:root {
  @include fn.emit-css-variables(comp.$component-tokens, "comp");
}

