.ink-json-editor {
  border: 1px solid sys-var(color, border, subtle);
  transition: border-color 0.15s ease;
  padding: sys-var(space, sm);
  line-height: 1.2 !important;

  &__editor {
    height: 100%;
    box-sizing: border-box;

    :deep(.cm-editor) {
      border: none;
      outline: none;
      height: 100%;
    }

    :deep(.cm-scroller) {
      font-family: "Monaco", "Courier New", monospace;
      @include apply-font(label-lg);
    }

    &--readonly {
      :deep(.cm-editor) {
        background: sys-var(color, background, secondary);
      }
    }
  }

  &:focus-within {
    border-color: sys-var(color, border, base);
  }
}
