.ink-json-editor {
  width: 100%;
  box-sizing: border-box;

  &__editor {
    border: 1px solid sys-var(color, border, subtle);

    :deep(.cm-editor) {
      border: none;
      outline: none;
    }

    :deep(.cm-scroller) {
      font-family: "Monaco", "Courier New", monospace;
      @include apply-font(label-lg);
      padding: sys-var(space, sm);
    }

    :deep(.cm-focused) {
      border-color: sys-var(color, border, active);
    }

    &--readonly {
      :deep(.cm-editor) {
        background: sys-var(color, background, secondary);
      }
    }
  }
}
