.ink-dialog {
  display: flex;
  flex-direction: column;
  gap: sys-var(space, md);
  padding: sys-var(space, md) sys-var(space, lg);

  &__header {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, xs);
  }

  &__title {
    @include apply-font(title-sm);
    color: sys-var(color, text, base);
    margin: 0;
  }

  &__subtitle {
    @include apply-font(body-lg);
    color: sys-var(color, text, subtle);
    margin: 0;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: sys-var(space, sm);
  }
}
