.ink-scrim {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ink-scrim__wrapper {
  width: 100%;
  height: 100%;
}

.ink-scrim__close-btn {
  position: absolute;
  top: sys-var(space, lg);
  right: sys-var(space, xl);
}

.ink-scrim-fade-enter-active,
.ink-scrim-fade-leave-active {
  transition: opacity 0.3s ease;
}

.ink-scrim-fade-enter-from,
.ink-scrim-fade-leave-to {
  opacity: 0;
}
