.ink-field {
  display: flex;
  gap: sys-var(space, sm);
  @include apply-font(label-lg);

  &--col {
    flex-direction: column;
    gap: sys-var(space, xs);
    width: 100%;
    min-width: 160px;
  }

  &--row {
    flex-direction: row;
    gap: sys-var(space, sm);
    width: 100%;
  }

  &__label {
    color: sys-var(color, text, subtle);
    white-space: nowrap;
    position: relative;
  }

  &__required {
    @include apply-font(label-sm);
    color: red;
    // color: sys-var(color, feedback, error); TODO
  }

  &--col &__label {
    @include apply-font(label-md);
  }

  &__value {
    &--underlined {
      text-decoration: underline;
    }

    &--clickable {
      cursor: pointer;
    }
  }
}
